<BOUCLE_biblionote(BIBLIONOTES){id_biblionote=#ENV{id}}{statut?}>
<div class="infos">
[(#SET{texte_objet,<:biblionote:titre_biblionote:/>})]
<div class="numero"><:titre_cadre_numero_objet{objet=#GET{texte_objet}}:/><p>#ID_BIBLIONOTE</p></div>

[(#FORMULAIRE_INSTITUER_OBJET{biblionote,#ID_BIBLIONOTE})]

<div class='nb_elements'><!--nb_elements--></div>

[(#REM)

	Bouton voir en ligne

]
<BOUCLE_publie(BIBLIONOTES){id_biblionote}>
	[(#VAL{redirect}
		|generer_url_action{type=biblionote&id=#ID_BIBLIONOTE}
		|parametre_url{var_mode,calcul}
		|icone_horizontale{<:icone_voir_en_ligne:>,racine})]
</BOUCLE_publie>
	[(#AUTORISER{previsualiser,biblionote,#ID_BIBLIONOTE,'',#ARRAY{statut,#STATUT}})
		[(#VAL{redirect}
			|generer_url_action{type=biblionote&id=#ID_BIBLIONOTE}
			|parametre_url{var_mode,preview}
			|icone_horizontale{<:previsualiser:>,preview})]
	]
<//B_publie>

</div>
</BOUCLE_biblionote>
