<BOUCLE_biblionote(BIBLIONOTES){id_biblionote}{statut?}>
[<div class="champ contenu_titre[ (#TITRE*|strlen|?{'',vide})]">
	<div class="label"><:biblionote:champ_titre_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{titre} titre">(#TITRE)</span>
</div>]

[<div class="champ contenu_lien[ (#LIEN*|strlen|?{'',vide})]">
	<div class="label"><:biblionote:champ_lien_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{lien} lien">(#LIEN)</span>
</div>]

[<div class="champ contenu_auteur[ (#AUTEUR*|strlen|?{'',vide})]">
	<div class="label"><:biblionote:champ_auteur_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{auteur} auteur">(#AUTEUR)</span>
</div>]

[<div class="champ contenu_editeur[ (#EDITEUR*|strlen|?{'',vide})]">
	<div class="label"><:biblionote:champ_editeur_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{editeur} editeur">(#EDITEUR)</span>
</div>]

[<div class="champ contenu_lieu[ (#LIEU*|strlen|?{'',vide})]">
	<div class="label"><:biblionote:champ_lieu_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{lieu} lieu">(#LIEU)</span>
</div>]

[<div class="champ contenu_annee[ (#ANNEE*|strlen|?{'',vide})]">
	<div class="label"><:biblionote:champ_annee_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{annee} annee">(#ANNEE)</span>
</div>]

[<div class="champ contenu_commentaire[ (#COMMENTAIRE*|strlen|?{'',vide})]">
	<div class="label"><:biblionote:champ_commentaire_label:/> : </div>
	<span dir="#LANG_DIR" class="#EDIT{commentaire} commentaire">(#COMMENTAIRE)</span>
</div>]

</BOUCLE_biblionote>
