<div class='formulaire_spip formulaire_editer formulaire_#FORM formulaire_#FORM-#ENV{id_biblionote,nouveau}'>
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	[(#ENV{editable})
	<form method="post" action="#ENV{action}"><div>
		#ACTION_FORMULAIRE
		<input type="hidden" name="id_biblionote" value="#ENV{id_biblionote}" />
		<div class="editer-groupe">

			[(#SAISIE{input, titre, obligatoire=oui,
				label=<:biblionote:champ_titre_label:/>,
				explication=<:biblionote:champ_titre_explication:/> })]

			[(#SAISIE{input, lien,
				label=<:biblionote:champ_lien_label:/>,
				explication=<:biblionote:champ_lien_explication:/> })]

			[(#SAISIE{input, auteur,
				label=<:biblionote:champ_auteur_label:/>,
				explication=<:biblionote:champ_auteur_explication:/> })]

			[(#SAISIE{input, editeur,
				label=<:biblionote:champ_editeur_label:/>,
				explication=<:biblionote:champ_editeur_explication:/> })]

			[(#SAISIE{input, lieu,
				label=<:biblionote:champ_lieu_label:/>,
				explication=<:biblionote:champ_lieu_explication:/> })]

			[(#SAISIE{input, annee,
				label=<:biblionote:champ_annee_label:/>,
				explication=<:biblionote:champ_annee_explication:/> })]

			[(#SAISIE{textarea, commentaire,
				label=<:biblionote:champ_commentaire_label:/>})]

		</div>
		[(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
		<!--extra-->
		<p class="boutons"><input type="submit" class="submit" value="<:bouton_enregistrer|attribut_html:/>" /></p>
	</div></form>
	]
</div>
