[(#SET{defaut_tri,#ARRAY{
	titre,1,
	id_biblionote,1,
	points,-1
}})]<B_liste_biblionotes>
#ANCRE_PAGINATION
<div class="liste-objets biblionotes">
<table class="spip liste">
	[<caption><strong class="caption">(#ENV*{titre,#GRAND_TOTAL|singulier_ou_pluriel{biblionote:info_1_biblionote,biblionote:info_nb_biblionotes}})</strong></caption>]
	<thead>
		<tr class="first_row">
			<th class="picto" scope="col"></th>
			<th class="statut" scope="col">[(#TRI{statut,<span title="<:lien_trier_statut|attribut_html:/>">#</span>,ajax})]</th> 
			<th class="titre" scope="col">[(#TRI{titre,<:biblionote:champ_titre_label:/>,ajax})]</th>
			<th class="id" scope="col">[(#TRI{id_biblionote,<:info_numero_abbreviation:/>,ajax})]</th>
		</tr>
	</thead>
	<tbody>
	<BOUCLE_liste_biblionotes(BIBLIONOTES){id_mot?}{id_auteur?}{where?}{statut?}{recherche?}{tri #ENV{par,num titre},#GET{defaut_tri}}{par titre}{pagination #ENV{nb,10}}>
		<tr class="[(#COMPTEUR_BOUCLE|alterner{row_odd,row_even})]">
			<td class="picto">[(#CHEMIN_IMAGE{biblionote-16.png}|balise_img)]</td>
			<td class="statut">[(#STATUT|puce_statut{biblionote,#ID_BIBLIONOTE})]</td> 
			<td class="titre principale">[(#LOGO_BIBLIONOTE|image_reduire{20,26})]<a href="[(#ID_BIBLIONOTE|generer_url_entite{biblionote})]" title="<:info_numero_abbreviation|attribut_html:/> #ID_BIBLIONOTE">[(#RANG). ]#TITRE</a></td>
			<td class="id">[(#AUTORISER{modifier,biblionote,#ID_BIBLIONOTE}|?{
				<a href="[(#URL_ECRIRE{biblionote_edit,id_biblionote=#ID_BIBLIONOTE})]">#ID_BIBLIONOTE</a>,
				#ID_BIBLIONOTE
			})]</td>
		</tr>
	</BOUCLE_liste_biblionotes>
	</tbody>
</table>
[<p class="pagination">(#PAGINATION{prive})</p>]
</div>
</B_liste_biblionotes>[
<div class="liste-objets biblionotes caption-wrap"><strong class="caption">(#ENV*{sinon,''})</strong></div>
]<//B_liste_biblionotes>
