[(#SET{defaut_tri,#ARRAY{
	multi titre,1,
	id_biblionote,1
}})
]
#SET{exclus,#ENV**{exclus,#ENV{objet_source}|lister_objets_lies{#ENV{objet},#ENV{id_objet},#ENV{_objet_lien}}}}
#SET{debut,#ENV{debutbiba,#EVAL{_request("debutbiba");}}}
<B_liste_biblionotes>
[(#REM) En cas de pagination indirecte @32, il faut refaire le set car la boucle
a mis a jour la valeur avec la page reelle]
#SET{debut,#ENV{debutbiba,#EVAL{_request("debutbiba");}}}
#SET{afficher_lettres,#TRI|=={'multi titre'}|oui}
#ANCRE_PAGINATION
<div class="liste-objets liste-objets-associer biblionotes">
<table class="spip liste">
[<caption><span class="caption"><strong>(#ENV*{titre,#GRAND_TOTAL|singulier_ou_pluriel{biblionote:info_1_biblionote,biblionote:info_nb_biblionotes}})</strong>
<span class="recherche">
	<label for="recherche-#ENV{id}"><:info_rechercher_02:/></label>
	<input type="text" class="recherche" name="recherche" id="recherche-#ENV{id}" value="#ENV{recherche}" />
	<input type="submit" class="tout_voir" name="tout_voir" value="<:info_tout_afficher|attribut_html:/>" />
</span>
</span>
</caption>]
	<thead>
		#SET{p,''}
		<BOUCLE_lettre(BIBLIONOTES){tout}{!id_biblionote IN #GET{exclus}}{where?}{recherche?}{statut?}
			{tri #ENV{par,multi titre},#GET{defaut_tri}}{id_biblionote==#GET{afficher_lettres}|?{'.*','A'}}>[
		(#TITRE**|extraire_multi|initiale|unique|oui)
		[(#SET{p,#GET{p}|concat{
		#SELF|parametre_url{debutbiba,@#ID_BIBLIONOTE}|ancre_url{paginationbiba}|afficher_initiale{#TITRE**|extraire_multi|initiale{},#COMPTEUR_BOUCLE,#GET{debut},#ENV{nb,10}}
		}})]
		]#SAUTER{#ENV{nb,10}|moins{#COMPTEUR_BOUCLE|=={1}|?{2,1}}}</BOUCLE_lettre>[
		(#SET{p,
			#GET{p}|concat{
				#REM|afficher_initiale{#REM,#TOTAL_BOUCLE,#GET{debut},#ENV{nb,10}}
			}
		})]</B_lettre>
		[<tr><td colspan="3"><p class="pagination">(#GET{p})</p></td></tr>]
	
		<tr class="first_row">
			<th class="statut" scope="col">[(#TRI{statut,<span title="<:lien_trier_statut|attribut_html:/>">#</span>,ajax})]</th> 
			<th class="titre" scope="col">[(#TRI{multi titre,<:biblionote:champ_titre_label:/>,ajax})]</th>
			<th class="action" scope="col"></th>
		</tr>
	</thead>
	<tbody>
	<BOUCLE_liste_biblionotes(BIBLIONOTES){!id_biblionote IN #GET{exclus}}{where?}{recherche?}{statut?}
		{tri #ENV{par,multi titre},#GET{defaut_tri}}{pagination #ENV{nb,10} biba}>
		<tr class="[(#COMPTEUR_BOUCLE|alterner{row_odd,row_even})][ (#EXPOSE|unique)][ (#TITRE**|extraire_multi|initiale|=={#ENV{i}}|?{on}|unique)]">
			<td class="statut">[(#STATUT|puce_statut{biblionote})]</td> 
			<td class="titre">[(#LOGO_BIBLIONOTE|image_reduire{20,20})]<a href="[(#ID_BIBLIONOTE|generer_url_entite{biblionote})]">#TITRE</a></td>
			<td class="action">
				<button type="submit" class="button link add" name="ajouter_lien\[biblionote-#ID_BIBLIONOTE-#OBJET-#ID_OBJET\]" value="+"><:biblionote:ajouter_lien_biblionote:/> [(#CHEMIN_IMAGE{ajouter-12.png}|balise_img{'+'})]</button>
			</td>
		</tr>
	</BOUCLE_liste_biblionotes>
	</tbody>
</table>
[<p class="pagination">(#PAGINATION{prive})</p>]
</div>
</B_liste_biblionotes>[(#ENV{recherche}|oui)
<div class="liste-objets liste-objets-associer biblionotes caption-wrap">
<span class="caption"><strong>[(#VAL{info_recherche_auteur_zero}|_T{#ARRAY{cherche_auteur,#ENV{recherche}}})]</strong>
<span class="recherche">
	<label for="recherche-#ENV{id}"><:info_rechercher_02:/></label>
	<input type="text" class="recherche" name="recherche" id="recherche-#ENV{id}" value="#ENV{recherche}" />
	<input type="submit" class="tout_voir" name="tout_voir" value="<:info_tout_afficher|attribut_html:/>" />
</span>
</span>
</div>
]<//B_liste_biblionotes>
