[(#SET{defaut_tri,#ARRAY{
	multi titre,1,
	id_biblionote,1
}})
]
#SET{selection,#ENV**{selection,#ENV{objet_source}|lister_objets_lies{#ENV{objet},#ENV{id_objet},#ENV{_objet_lien}}}}
#SET{debut,#ENV{debutbibl,#EVAL{_request("debutbibl");}}}
<B_liste_biblionotes>
[(#REM) En cas de pagination indirecte @32, il faut refaire le set car la boucle
a mis a jour la valeur avec la page reelle]
#SET{debut,#ENV{debutbibl,#EVAL{_request("debutbibl");}}}
#SET{afficher_lettres,#TRI|=={'multi titre'}|oui}
#ANCRE_PAGINATION
<div class="liste-objets liste-objets-lies biblionotes">
<table class="spip liste">
[<caption><strong class="caption">(#ENV*{titre,#GRAND_TOTAL|singulier_ou_pluriel{biblionote:info_1_biblionote,biblionote:info_nb_biblionotes}})</strong></caption>]
	<thead>
		#SET{p,''}
		<BOUCLE_lettre(BIBLIONOTES){tout}{id_biblionote IN #GET{selection}}{where?}{statut?}
			{tri #ENV{par,multi titre},#GET{defaut_tri}}{id_biblionote==#GET{afficher_lettres}|?{'.*','A'}}>[
		(#TITRE**|extraire_multi|initiale|unique|oui)
		[(#SET{p,#GET{p}|concat{
		#SELF|parametre_url{debutbibl,@#ID_BIBLIONOTE}|ancre_url{paginationbibl}|afficher_initiale{#TITRE**|extraire_multi|initiale{},#COMPTEUR_BOUCLE,#GET{debut},#ENV{nb,10}}
		}})]
		]#SAUTER{#ENV{nb,10}|moins{#COMPTEUR_BOUCLE|=={1}|?{2,1}}}</BOUCLE_lettre>[
		(#SET{p,
			#GET{p}|concat{
				#REM|afficher_initiale{#REM,#TOTAL_BOUCLE,#GET{debut},#ENV{nb,10}}
			}
		})]</B_lettre>
		[<tr><td colspan="4"><p class="pagination">(#GET{p})</p></td></tr>]

		<tr class="first_row">
			<th class="statut" scope="col">[(#TRI{statut,<span title="<:lien_trier_statut|attribut_html:/>">#</span>,ajax})]</th> 
			<th class="titre" scope="col">[(#TRI{multi titre,<:biblionote:champ_titre_label:/>,ajax})]</th>
			<th class="action" scope="col"></th>
		</tr>
	</thead>
	<tbody>
	<BOUCLE_liste_biblionotes(BIBLIONOTES){id_biblionote IN #GET{selection}}{statut?}
		{tri #ENV{par,multi titre},#GET{defaut_tri}}{pagination #ENV{nb,10} bibl}>
		<tr class="[(#COMPTEUR_BOUCLE|alterner{row_odd,row_even})][ (#EXPOSE|unique)][ (#TITRE**|extraire_multi|initiale|=={#ENV{i}}|?{on}|unique)][(#ID_BIBLIONOTE|=={#ENV{id_lien_ajoute}}|oui)append]">
			<td class="statut">[(#STATUT|puce_statut{biblionote})]</td> 
			<td class="titre">[(#LOGO_BIBLIONOTE|image_reduire{20,20})]<a href="[(#ID_BIBLIONOTE|generer_url_entite{biblionote})]">#TITRE</a></td>

			<td class="action">
				[(#ENV{editable}|oui)
					<button type="submit" class="button link delete" name="supprimer_lien\[biblionote-#ID_BIBLIONOTE-#OBJET-#ID_OBJET\]" value="X"><:biblionote:retirer_lien_biblionote:/> [(#CHEMIN_IMAGE{supprimer-12.png}|balise_img{'X'})]</button>
				]
			</td>
		</tr>
	</BOUCLE_liste_biblionotes>
	</tbody>
</table>
[<p class="pagination">(#PAGINATION{prive})</p>]
[(#GRAND_TOTAL|>{3}|oui)<div class="action"><button type="submit" class="button link" name="supprimer_lien\[biblionote-*-#OBJET-#ID_OBJET\]" value="X"><:biblionote:retirer_tous_liens_biblionotes:/> [(#CHEMIN_IMAGE{supprimer-8.png}|balise_img{'X'})]</button></div>]
</div>
</B_liste_biblionotes>
<div class="liste-objets liste-objets-lies biblionotes caption-wrap">
	<strong class="caption">[(#ENV*{titre,<:biblionote:info_aucun_biblionote:/>})]</strong>
</div>
<//B_liste_biblionotes>
