[(#ID_BIBLIONOTE|oui)
	[(#AUTORISER{modifier,biblionote,#ID_BIBLIONOTE}|sinon_interdire_acces)]
]


[(#ID_BIBLIONOTE|non)
	[(#AUTORISER{creer,biblionote}|sinon_interdire_acces)]
]

#SET{redirect,#ENV{redirect}|sinon{#ID_BIBLIONOTE|?{#ID_BIBLIONOTE|generer_url_entite{biblionote},#URL_ECRIRE{biblionotes}}}}



<div class="cadre-formulaire-editer">
<div class="entete-formulaire">
	[(#ID_BIBLIONOTE|oui)
	[(#GET{redirect}|icone_verticale{<:icone_retour:/>,biblionote,'',left retour[(#ENV{retourajax,''}|oui)ajax preload]})]
	]
	[
		[(#ID_BIBLIONOTE|?{<:biblionote:icone_modifier_biblionote:/>,<:biblionote:icone_creer_biblionote:/>})]
		<h1>(#ENV{titre,#INFO_TITRE{biblionote,#ID_BIBLIONOTE}|sinon{<:info_sans_titre:/>}})</h1>
	]
</div>

#SET{redirect,#ENV{redirect,#ID_BIBLIONOTE|generer_url_entite{biblionote}}}
[(#ENV{retourajax,''}|oui)
	#SET{redirect,'javascript:if (window.jQuery) jQuery(".entete-formulaire .retour a").followLink();'}
	<div class="ajax">
]
		[(#FORMULAIRE_EDITER_BIBLIONOTE{#ENV{id_biblionote,oui}, #GET{redirect}, #ENV{associer_objet}})]
[(#ENV{retourajax,''}|oui)
	</div>
	<script type="text/javascript">/*<!\[CDATA\[*/reloadExecPage('#ENV{exec}');/*\]\]>*/</script>
]
</div>
