[(#AUTORISER{voir,biblionote,#ID_BIBLIONOTE}|sinon_interdire_acces)]
[(#SET{url_voir,#VAL{biblionote}|objet_info{url_voir}})]
[(#SET{url_edit,#VAL{biblionote}|objet_info{url_edit}})]
<BOUCLE_biblionote(BIBLIONOTES){id_biblionote}{statut==.*}{si #ENV{exec}|=={#GET{url_voir}}}>
[(#BOITE_OUVRIR{[
	[(#AUTORISER{modifier,biblionote,#ID_BIBLIONOTE})
		[(#ID_BIBLIONOTE|afficher_qui_edite{biblionote}|non)
			[(#URL_ECRIRE{#GET{url_edit},id_biblionote=#ID_BIBLIONOTE}|icone_verticale{<:biblionote:icone_modifier_biblionote:/>,biblionote,edit,right ajax preload})]
		]
		[(#ID_BIBLIONOTE|afficher_qui_edite{biblionote}|oui)
			[(#URL_ECRIRE{#GET{url_edit},id_biblionote=#ID_BIBLIONOTE}|icone_verticale{#ID_BIBLIONOTE|afficher_qui_edite{biblionote},warning-24,'',right edition_deja ajax preload})]
		]
	]

	<h1>[(#RANG). ](#TITRE|sinon{<:info_sans_titre:/>})[(#CHEMIN_IMAGE{biblionote-24.png}|balise_img{biblionote,cadre-icone})]</h1>

],simple fiche_objet})]

<div class="ajax">
	#FORMULAIRE_DATER{biblionote,#ID_BIBLIONOTE}
</div>

<!--affiche_milieu-->

<div id="wysiwyg">
<INCLURE{fond=prive/objets/contenu/biblionote,id=#ID_BIBLIONOTE,id_biblionote=#ID_BIBLIONOTE,virtuel=oui,ajax=wysiwyg,wysiwyg=1}>
</div>

<div class="nettoyeur"></div>

[(#AUTORISER{modifier,biblionote,#ID_BIBLIONOTE})
	[(#ID_BIBLIONOTE|afficher_qui_edite{biblionote}|non)
		[(#URL_ECRIRE{#GET{url_edit},id_biblionote=#ID_BIBLIONOTE}|icone_verticale{<:biblionote:icone_modifier_biblionote:/>,biblionote,edit,right ajax preload})]
	]
	[(#ID_BIBLIONOTE|afficher_qui_edite{biblionote}|oui)
		[(#URL_ECRIRE{#GET{url_edit},id_biblionote=#ID_BIBLIONOTE}|icone_verticale{#ID_BIBLIONOTE|afficher_qui_edite{biblionote},warning-24,'',right edition_deja ajax preload})]
	]
]

<div class="nettoyeur"></div>
<div class="liste">
	<BOUCLE_objetslies(spip_biblionotes_liens){id_biblionote}{0,1}><h3><:biblionote:titre_objets_lies_biblionote:/></h3></BOUCLE_objetslies>

	<BOUCLE_listeobjets(spip_biblionotes_liens){id_biblionote}{fusion objet}{par objet}>
		#SET{table,#OBJET|table_objet}
		[(#SET{titre,[#OBJET:info_(#GET{table})_liees_biblionote]})]
		[(#SET{liste,#VAL{prive/objets/liste/#GET{table}}|trouver_fond|?{#GET{table},objets_lies_biblionote}})]
		<INCLURE{fond=prive/objets/liste/#GET{liste},objet,id_biblionote,ajax,env} />
	</BOUCLE_listeobjets>
</div>

#PIPELINE{afficher_complement_objet,#ARRAY{args,#ARRAY{type,biblionote,id,#ID_BIBLIONOTE},data,'<div class="nettoyeur"></div>'}}

#BOITE_FERMER


#SET{enfants,''}
[(#VAL{prive/objets/contenu/biblionote-enfants}|trouver_fond|oui)
	[(#SET{enfants,[(#INCLURE{fond=prive/objets/contenu/biblionote-enfants,id_biblionote,env})]})]
]
[(#PIPELINE{affiche_enfants,[(#ARRAY{args,#ARRAY{exec,biblionote,id_biblionote,#ID_BIBLIONOTE,objet,biblionote,id_objet,#ID_BIBLIONOTE},data,#GET{enfants}})]})]

[(#CONST{_AJAX}|oui)
	<script type="text/javascript">/*<!\\[CDATA\\[*/reloadExecPage('#ENV{exec}','#navigation,#chemin,#extra');/*\\]\\]>*/</script>
]
</BOUCLE_biblionote>
[(#ENV**{exec}|=={#GET{url_edit}}|?{#INCLURE{fond=prive/squelettes/contenu/#GET{url_edit},redirect='',env,retourajax=oui},#REM|sinon_interdire_acces})]
<//B_biblionote>
