[(#AUTORISER{voir,_biblionotes}|sinon_interdire_acces)]
<h1 class="grostitre"><:biblionote:titre_page_biblionotes:/></h1>

#FORMULAIRE_RECHERCHE_ECRIRE{#SELF,ajax}
<div class="nettoyeur"></div>

<INCLURE{fond=prive/objets/liste/biblionotes, env, ajax, sinon=<:biblionote:info_aucun_biblionote:/>}>

[(#AUTORISER{creer,biblionote})
	[(#URL_ECRIRE{biblionote_edit,new=oui}|icone_verticale{<:biblionote:icone_creer_biblionote:/>,biblionote,new,right})]
]
